<form [formGroup]="formSearch" (ngSubmit)="search()">
  <div class="input-group mb-3">
    <input formControlName="usuario" type="text" class="form-control" placeholder="Nombre usuario"
      aria-describedby="search-user">
    <button class="btn btn-primary" type="submit" id="search-user">Aceptar</button>
  </div>
</form>

<div class="row">
  <div class="col-12 col-md-6">
    Aqui van las graficas
  </div>
  <div class="col-12 col-md-6">
    <app-list-users (irPerfil)="irPerfil($event)" [arrayUsers]="arrayUsers"></app-list-users>
  </div>
</div>